<%
/**
 * @typedef {object} Contact
 * @property {string} email Contact email
 * @property {string} phone Contact phone number
 * @property {string} website Contact website
 *
 * [Section] Contact
 * @param {Contact} contact
 */
%>

<% if (contact) { %>
  <section id="contact" class="row">
    <aside class="col-sm-3"><h3>Contact</h3></aside>
    <div class="col-sm-9">
      <div class="row">
        <% if (contact.email) { %>
          <div class="col-sm-6">
            <strong>Email</strong>
            <div>
              <a href="mailto:<%= contact.email %>"><%= contact.email %></a>
            </div>
          </div>
        <% } %>
        <% if (contact.phone) { %>
          <div class="col-sm-6">
            <strong>Phone</strong>
            <br>
            <a href="tel:<%= contact.phone %>"><%= contact.phone %></a>
          </div>
        <% } %>
        <% if (contact.website) { %>
          <div class="col-sm-6">
            <strong>Website</strong>
            <div>
              <a target="_blank" href="<%= contact.website %>"><%= contact.website %></a>
            </div>
          </div>
        <% } %>
        <% if (contact.location.address) { %>
          <div class="col-sm-6">
            <strong>Location</strong>
            <div>
              <a target="phone"><%= contact.location.address %></a>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </section>
<% } %>
