<% if (speaking && Array.isArray(speaking) && speaking.length > 0) { %>
  <section id="speaking" class="row">
    <aside class="col-sm-2">
      <h3>Public Speaking</h3>
    </aside>
    <div class="col-sm-10">
      <div class="row">
        <% speaking.forEach((w) => { %>
          <div class="col-sm-12">
            <h4 class="strike-through">
              <span><%= w.event %></span>
              <span class="date">
                <% if (w.endDate != 'present') { %>
                  <%= this.prettyDate(w.date) %>
                <% } else { %>
                  <%= this.prettyDate(w.date) %>
                <% } %>
              </span>
            </h4>
            <div class="topic">
              <%= w.topic %>
            </div>
            <div class="location">
              <p><%= w.location %></p>
            </div>
            <div>
              <a target="_blank" href="<%= w.reference %>">View the Presentation</a>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </section>
<% } %>
